
/.DS_Store
/.claude
/.venv
/HIDE
/__pycache__
/entity_extraction_debug.log
/parallel_entity_extraction.log
/transcription_debug.log
/augmentation_debug.log
mp3_extraction_debug.log
pdf_extraction_debug.log
data/
